body {
    background: white;
}

page:empty:before {
    content: attr(data-path);
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOADING */
body > boot:first-child {
    width: 0;
    height: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    position: fixed;
    /* background: #2a2a2a; */
    z-index: 12345678901;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
}

body[data-load="ing"] .boot:before {
    content: "";
    display: block;
    position: fixed;
    z-index: 1234567890;
    width: 100%;
    height: 100%;
}

body[data-load="ing"] .boot:after {
    content: "";
    display: block;
    z-index: 1234567890;
    width: 100px;
    height: 100px;
    /* background-image:url(/cdn/svg/rgb.svg); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body[data-load="ing"] {
    position: fixed;
}

body[data-load="ing"] > * {
    opacity: 1;
    transition: 0.3s opacity;
}

body[data-load="ing"] > :not(.boot) {
    opacity: 0;
}

body:not([data-load="ing"]) .boot {
    display: none;
}

boot {
    margin: 100px auto 0;
    margin: 0;
    text-align: center;
}

boot > div {
    width: 36px;
    height: 36px;
    margin: 10px;
    border-radius: 100%;
    display: inline-block;
}

.bouncing {
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

/* LOADING */
/*PSEUDO*/
@media screen {
    ::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0;
        background-color: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #d62929;
    }

    [data-before]:before {
        content: attr(data-before);
    }

    [data-after]:after {
        content: attr(data-after);
    }
}

/*SHELL*/
@media screen {
    html {
        height: 100%;
        width: 100%;
    }

    body {
        display: flex;
        display: webkit-flex;
        font-family: Arial;
        height: 100%;
        margin: 0;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        body[data-theme="system"] {
            background-color: #1f1f1f;
            color: #fff;
        }
    }

    body > header, body > footer {
        display: flex;
        display: webkit-flex;
    }

    body > header > section, body > footer > section {
        width: 100%;
    }

    blocks {
        width: 100%;
    }

    blocks, block, box, card {
        display: flex;
        display: webkit-flex;
        flex-direction: column;
        position: relative;
    }

    block {
        display: flex;
        display: -webkit-inline-flex;
        display: -moz-flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        position: relative;
        overflow: visible;
    }

    block > section, card > section, box > section, box > * {
        width: 100%;
    }

    block > picture {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    box > section {
        display: flex;
        display: -webkit-flex;
        flex: 1;
    }

    box > * > * {
        display: flex;
        display: -webkit-flex;
        /* justify-content: center; */
    }

    box > section > picture {
        display: flex;
        position: relative;
    }

    flex, column, row {
        display: flex;
        display: webkit-flex;
    }

    column {
        flex-direction: column;
    }

    row {
        flex-direction: row;
    }

    form {
        margin: 0;
    }

    form > * {
        width: 100%;
    }

    main {
        display: flex;
        display: webkit-flex;
        /* height: 100%; */
        overflow: visible;
        position: relative;
    }

    ico {
        align-items: center;
        display: inline-flex;
        display: webkit-inline-flex;
        justify-content: center;
    }

    ico:not([data-height]) {
        height: 50px;
    }

    ico:not([data-width]) {
        width: 50px;
    }

    iframe {
        border: 0;
    }

    input {
        -webkit-appearance: none;
    }

    input:focus {
        outline: none;
    }

    [type="text"], [type="password"] {
        background: none;
        border: unset;
        padding: 0;
    }

    input[type="file"], input[type="submit"] {
        display: none;
    }

    menu {
        margin: 0;
        padding: 0;
    }

    page, pages {
        display: flex;
        position: relative;
    }

    body > page, body > pages {
        z-index: 123456789;
    }

    text {
        display: inline-flex;
        align-items: center;
        /* justify-content: center; */
    }

    textarea {
        border: unset;
        resize: none;
        font-family: Arial;
        -webkit-appearance: none;
    }

    textarea:focus {
        outline: 0;
    }

    [placeholder]:not(input):empty:before {
        content: attr(placeholder);
    }

    [data-hide]:not([data-active="true"]), [data-page]:not([data-active="true"]):not(.-active), [data-pages]:not([data-active="true"]):not(.-active) {
        display: none;
    }

    body:not([data-uid]) .isauth, body[data-uid] .noauth {
        display: none;
    }

    body:not([data-uid]) .-isauth, body[data-uid] .-noauth {
        display: none;
    }
}

/*EMPTY*/
@media screen {
    .empty:empty, .empty:empty > * {
        display: none;
    }

    :not(:empty) + .empty-state {
        display: none !important;
    }
}
