<card class="border-bottom-1px-solid border-color-eff3f4 padding-10px">
    <row>
        <box class="height-50px margin-right-10px width-50px">
            <flex class="align-items-center justify-content-center height-100pct width-100pct">
                <picture class="align-center flex justify-center"></picture>
                <picture class="background-color-db border-radius-50pct empty-state overflow-hidden position-relative" data-height="50px" data-width="50px">
                    <img class="bottom-0 height-75pct left-0 invert margin-auto right-0 position-absolute width-75pct" src="cdn/svg/user.svg">
                </picture>
            </flex>
        </box>
        <box class="flex-1 max-width-100pct-minus-60px">
            <column>
                <text class="display-flex height-20px line-height-20px width-100pct">
                    <row class="flex-shrink-1 max-width-100pct-minus-20px overflow-hidden white-space-nowrap"">
                        <row class="flex-shrink-1 white-space-nowrap"">
                            <b class="display-flex flex-shrink-1 margin-right-5px overflow-hidden text-overflow-ellipsis white-space-nowrap">Sam Kohl</b>
                            <span class="display-flex flex-shrink-1 overflow-hidden text-overflow-ellipsis white-space-nowrap"" data-before="@">iupdate</span>
                        </row>
                        <row>
                            <span class="margin-x-5px overflow-hidden text-overflow-ellipsis">&#8226;</span>
                            <span>17h</span>
                        </row>
                    </row>
                    <ico class="display-inline-flex margin-left-auto" data-height="20px" data-width="20px">
                        <n class="gg-more-alt"></n>
                    </ico>
                </text>
                <text class="margin-right-auto margin-top-5px">The iPhone 14 Pro Max is TOO BIG.</text>
            </column>
            <row class="justify-content-space-between line-height-50px">
                <span class="display-flex flex-direction-row">
                    <ico class="margin-right-5px" data-width="20px">
                        <n class="gg-comment"></n>
                    </ico>
                    <text>0</text>
                </span>
                <span class="display-flex flex-direction-row">
                    <ico class="margin-right-5px" data-width="20px">
                        <n class="gg-repeat transform-rotate-90deg"></n>
                    </ico>
                    <text>0</text>
                </span>
                <span class="display-flex flex-direction-row">
                    <ico class="margin-right-5px" data-width="20px">
                        <n class="gg-heart"></n>
                    </ico>
                    <text>0</text>
                </span>
                <span class="display-flex flex-direction-row">
                    <ico class="margin-right-5px" data-width="20px">
                        <n class="gg-share"></n>
                    </ico>
                </span>
            </row>
        </box>
    </row>
</card>
